/* carousel header */
.header-carousel {
    height: 100%;
}

.btn-carousel, .btn-carousel:focus {
    background-color: var(--main);
    color: var(--white);
    transition: all 0.5s;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

    .btn-carousel:hover {
        color: var(--white);
        background-color: var(--dark);
    }

.header-carousel-prev {
    position: absolute;
    left: -25px;
    top: calc(58% - 10px);
    z-index: 9998;
}

.header-carousel-next {
    position: absolute;
    left: -25px;
    top: calc(42% - 10px);
    z-index: 9998;
}

/* category */
.category-card {
    border: 15px solid var(--white);
    border-radius: 10px;
    transition: all 0.5s;
    max-width: 350px;
    margin: auto;
}

    .category-card .border-dashed {
        border: 1px dashed var(--main);
        padding: 30px;
        text-align: center;
        border-radius: 10px;
        transition: all 0.5s;
    }

    .category-card .icon {
        border: 1px dashed var(--main);
        padding: 20px;
        color: var(--main);
        font-size: 18px;
        text-align: center;
        display: inline-block;
        border-radius: 50%;
        background-color: var(--white);
    }

        .category-card:hover .border-dashed {
            background-color: var(--main);
        }

    .category-card h3 {
        color: var(--dark);
        transition: all 0.5s;
    }

    .category-card p {
        color: var(--main);
        transition: all 0.5s;
    }

        .category-card:hover h3 {
            color: var(--white);
        }

        .category-card:hover p {
            color: var(--white);
        } 


.green-obj {
    position: absolute;
    left: 0;
    background-color: var(--main-dark);
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
    width: 35%;
    height: 100%;
}

/* announcement */
.card-announcement {
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.5s;
    -webkit-box-shadow: 10px 10px 12px 0px rgb(207, 207, 207); 
    -moz-box-shadow: 10px 10px 12px 0px rgb(207, 207, 207); 
    box-shadow: 10px 10px 12px 0px rgb(207, 207, 207); 
    max-width: 350px;
    margin: auto;
}

    .card-announcement:hover {
        -webkit-box-shadow: 0px 10px 12px 5px rgb(207, 207, 207); 
        -moz-box-shadow: 0px 10px 12px 5px rgb(207, 207, 207); 
        box-shadow: 0px 10px 12px 5px rgb(207, 207, 207); 
    }

    .card-announcement .details {
        padding: 40px 20px;
        background-color: var(--white);
    }

    .card-announcement .image .type-announcement {
        position: absolute;
        top: 15px;
        left: 15px;
        padding: 5px 10px;
        border-radius: 10px;
        font-weight: 600;
    }

    .card-announcement img {
        transition: all 0.5s;
    }

    .card-announcement:hover img {
        transform: scale(1.2);
    }

    .card-announcement .footer div {
        border-right: 1px dashed var(--main);
        border-top: 1px dashed var(--main);
    }

    .card-announcement .footer div:last-child {
        border-right: none;
    }



@media screen and (max-width: 992px) {
    .green-obj {
        /* clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%); */
        width: 40%;
        height: 50%;
    }

    .image-form {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 765px) {
    .green-obj {
        width: 55%;
        height: 42%;
    }

}

@media screen and (max-width: 580px) {
        .header-carousel-prev {
        left: calc(40% - 10px);
        top: 95%;
    }
    
    .header-carousel-next {
        left: calc(60% - 10%);
        top: 95%;
    }
}

@media screen and (max-width: 500px) {
    .green-obj {
        width: 55%;
        height: 40%;
    }

    .image-form {
        margin-bottom: 5rem;
    }


}


/* 
    | //
   ( @ @ )
ooO__(_)__Ooo
٩(͡๏̯͡๏)۶
*/